<!DOCTYPE html>
<html>

<head>
    <title>CleanFix Computers - Student Computer Repair Guy</title>
    <meta name="description" content="Trusted Same-Day In-Home Computer Repairs, Pickup & Deliver Fixed Service, Covering Glasgow City Centre & Surrounding Areas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#2F5597" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<script src="{{ url_for('static', filename='main10.js')}}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<link rel="stylesheet" href="{{ url_for('static', filename='styles10.css')}}">

</head>

<body>
    <!-- Google Code for call-back Requests Conversion Page
In your html page, add the snippet and call
goog_report_conversion when someone clicks on the
chosen link or button. -->
    <script type="text/javascript">
    /* <![CDATA[ */
    goog_snippet_vars = function () {
        var w = window;
        w.google_conversion_id = 971959479;
        w.google_conversion_label = "kT6HCNaGjWgQt9m7zwM";
        w.google_remarketing_only = false;
    }
    // DO NOT CHANGE THE CODE BELOW.
    goog_report_conversion = function (url) {
        goog_snippet_vars();
        window.google_conversion_format = "3";
        var opt = new Object();
        opt.onload_call - back = function () {
            if (typeof(url) != 'undefined') {
                window.location = url;
            }
        }
        var conv_handler = window['google_trackConversion'];
        if (typeof(conv_handler) == 'function') {
            conv_handler(opt);
        }
    }
    /* ]]> */
</script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js">
</script>
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-46104977-2', 'auto');
    ga('send', 'pageview');
</script>

    <div id='nav-wrapper'>
        <div class='main-content-wrapper'>
            <a href="\"><img class='full-height-image' src="{{ url_for('static', filename='logoboardalpha.png') }}"></a>
        </div>
    </div>
    <!--<div id="navigation-wrapper" class="z-depth-1">
        <div class='main-content-wrapper'>
            <div id = "nav-buttons-wrapper">
            <a class="waves-effect waves btn-flat nav-link blue-text" href="#about-card"><b>About</b></a>
            <a class="waves-effect waves btn-flat nav-link blue-text" href="#prices-card"><b>Prices</b></a>
            <a class="waves-effect waves btn-flat nav-link blue-text" href="#contact-card"><b>Contact</b></a>
            <a class="waves-effect waves btn-flat nav-link blue-text" href="#coverage-card"><b>Coverage</b></a>
            <a class="waves-effect waves btn-flat nav-link blue-text" href="#review-card"><b>Reviews</b></a>
            </div>

        </div>
    </div>-->
    <div id="navigation-wrapper" class="z-depth-1">
        <div class='main-content-wrapper'>
            <a class="nav-link" href="#about-card"><b>About</b></a>
            <a class="nav-link" href="#prices-card"><b>Prices</b></a>
            <a class="nav-link" href="#contact-card"><b>Contact</b></a>
            <a class="nav-link" href="#coverage-card"><b>Coverage</b></a>
            <a class="nav-link" href="#review-card"><b>Reviews</b></a>

        </div>
    </div>

    <div id="nav-wrapper-place-holder"></div>
    <div class='main-content-wrapper'>
        <br>
        <a class="anchor" id="about-card"></a>
        <h5>
            About CleanFix Computers
        </h5><br>
        <div id="about-card" class="content-card z-depth-1">
            <img class='full-width-image' src="{{ url_for('static', filename='code.jpg') }}"></a>
            <div class="main-padded-wrapper">
                <p>
                    CleanFix Computers is a from-home student-operated computer repair business offering cheap, fast, convenient & up-to date
                    computer service.
                </p>
                <p>
                    I have 7 years of computer software & hardware repair experience as well as over 50 likes from satisfied customers on the
                    CleanFix Computers Facebook page proving that you don't have to sacrifice quality with cheap computer
                    repairs.
                </p>
                <p>
                    I provide an in-home repair service where your computer is repaired in your very own home with personalized advice on how
                    to avoid problems in the future when applicable. If you do not have time for an in-home visit or if your
                    repair is particularly complicated I also offer a pick-up & delivery service where your computer gets
                    picked up and dropped off, fixed, free of additional charge at a time & date suitable for you.
                </p>
                <br>
                <div class="divider"></div>
                <blockquote>
                    <i>You can get advice, a quote, or arrange a repair by <a href = "#contact-card">getting in touch yourself</a> or by <a href = "#callback-card">requesting a callback.</a></i></i>
                </blockquote>
                <blockquote><i>
                Use the <a href = "#coverage-card">service coverage checker</a> card to make sure I cover your area.</i>
                </blockquote>

            </div>
        </div><br>
        <div id="why-card" class="content-card z-depth-1">

            <div class="main-padded-wrapper why-points">
                <ul class="collection">
                    <li class="collection-item">Student-Operated</li>
                    <li class="collection-item">Fast Turnaround</li>
                    <li class="collection-item">I can work late into the night so can visit at a time that suits you</li>
                    <li class="collection-item">Easy to use coverage checker to confirm in-home visits at no extra charge
                    </li>
                    <li class="collection-item">Happy to teach how to use devices or apps</li>
                    <li class="collection-item">Up to date call-back system means you don't waste your time listening to automated responses
                    </li>
                    <li class="collection-item">Very low, competitive prices due to not having a physical store to finance
                    </li>
                    <li class="collection-item">No Fix - No Fee Policy</li>
                    <li class="collection-item">Friendly Service</li>
                </ul>

            </div>
        </div>
        <br>
        <a class="anchor" id="prices-card"></a>
        <h5>
            Services and Pricing
        </h5><br>
        <div id="pricing-card" class="content-card z-depth-1">
            <img class='full-width-image' src="{{ url_for('static', filename='diy.jpg') }}"></a>
            <div class="main-padded-wrapper">
                I will diagnose problems and inform you of repair costs before carrying out repairs but if you know what's wrong, feel free
                to look up(down) the pricing below. Please <a href="#contact-card">get in touch</a> for a
                more accurate quote. <br><br>
                <b>Smashed Screen</b>
                <ul class="collection">
                    <li class="collection-item">Laptop Screen Replacement: £15</li>
                    <li class="collection-item">All in One Screen Replacement: £25</li>
                    <li class="collection-item">Tablet Screen Replacement: £25</li>
                </ul>
                <b>Running slow / Freezing</b><br> Refresh
                <ul class="collection">
                    <li class="collection-item">Virus and Unwanted Software Removal: £20</li>
                    <li class="collection-item">Full Wipe & Fresh OS Installation + Configuration: £20</li>
                    <li class="collection-item">Full Wipe & Fresh OS Installation + Configuration + Full Personal Data Backup: £25
                    </li>
                </ul>
                Upgrades
                <ul class="collection">
                    <li class="collection-item">Upgrade To Solid State Drive with Data Clone: £30</li>
                    <li class="collection-item">Upgrade To Solid State Drive with Fresh OS Installation: £30</li>
                    <li class="collection-item">Upgrade To Higher Storage Capacity: £20</li>
                    <li class="collection-item">Upgrade To Higher RAM Capacity: £10</li>
                </ul>
                Replacements
                <ul class="collection">
                    <li class="collection-item">Hard Drive Replacement: £10</li>
                    <li class="collection-item">Solid State Drive Replacement: £10</li>
                    <li class="collection-item">RAM Replacement: £10</li>
                    <li class="collection-item">Desktop Motherboard Replacement: £20</li>
                    <li class="collection-item">Laptop Motherboard Replacement: £30</li>
                </ul>
                <b>Not Charging</b><br>
                <ul class="collection">
                    <li class="collection-item">Laptop Charging Socket Replacement: £30</li>
                    <li class="collection-item">Laptop Charging Repair: £30</li>
                    <li class="collection-item">Battery Replacement: £10</li>
                    <li class="collection-item">Motherboard Replacement: £30</li>
                    <li class="collection-item">Laptop Screen Hinge and Casing Replacement £30</li>
                </ul>
                <b>Falling Apart</b><br>
                <ul class="collection">
                    <li class="collection-item">Laptop Screen Hinge and Casing Replacement £30</li>
                    <li class="collection-item">Casing Replacement £30</li>
                    <li class="collection-item">Laptop Keyboard Replacement £15</li>
                </ul>
                <b>Turns Itself Off</b><br>
                <ul class="collection">
                    <li class="collection-item">Laptop Overheating Full Fix: £30</li>
                    <li class="collection-item">Desktop Overheating Full Fix: £20</li>
                    <li class="collection-item">Motherboard Replacement: £30</li>
                </ul>
                <b>Overheating</b><br>
                <ul class="collection">
                    <li class="collection-item">Laptop Overheating Full Fix: £30</li>
                    <li class="collection-item">Desktop Overheating Full Fix: £20</li>
                </ul>
                <b>Does Not Turn On At All</b><br>
                <ul class="collection">
                    <li class="collection-item">Motherboard Replacement: £30</li>
                    <li class="collection-item">Power Supply Replacement: £20</li>
                    <li class="collection-item">Charging Socket Replacement: £30</li>
                    <li class="collection-item">RAM Replacement: £10</li>
                </ul>
                <b>Stuck At Screen On Start</b><br>
                <ul class="collection">
                    <li class="collection-item">Hard Drive Replacement: £10</li>
                    <li class="collection-item">Solid State Drive Replacement: £10</li>
                    <li class="collection-item">Full Wipe & Fresh OS Installation + Configuration: £20</li>
                    <li class="collection-item">Full Wipe & Fresh OS Installation + Configuration + Full Personal Data Backup: £25
                    </li>
                </ul>
                <b>No Internet</b><br>
                <ul class="collection">
                    <li class="collection-item">Wireless Card Replacement: £20</li>
                    <li class="collection-item">Driver Re-Installation + Configuration: £20</li>
                    <li class="collection-item">Network + Router Setting Configuration: £20</li>
                </ul>
                <b>Custom Desktops</b><br>
                <ul class="collection">
                    <li class="collection-item">Desktop Build: £40</li>
                    <li class="collection-item">Desktop Build With Watercooling: £60</li>
                    <li class="collection-item">Desktop Build With Overclocking + Stability Testing: £70</li>
                </ul>
                <b>Web Development</b><br>
                <ul class="collection">
                    <li class="collection-item">Small Business Website: £50</li>
                    <li class="collection-item">Small Business Website With Online Shop: £80</li>
                    <li class="collection-item">Other Projects: £100</li>
                </ul>
                <b>Other</b><br>
                <ul class="collection">
                    <li class="collection-item">Upgrade Advice: Free</li>
                    <li class="collection-item">Computer Problem Diagnosis If Not Proceeding With Repairs: £20</li>
                    <li class="collection-item">For quotes for anything else, please get in touch.</li>
                </ul>

                <br>
                <div class="divider"></div>
                <blockquote><i>The pricing shown is for labour only and are estimates, any parts that have
                to be purchased will add to the total cost. You will always be informed of the total (labour + parts)
                cost before repairs are carried out</i></blockquote>
            </div>
        </div>

        <br>
        <a class="anchor" id="contact-card"></a>
        <h5>
            Contact and Home-Visit Coverage
        </h5>
        <br>
        <div id="testing-integration"></div>
        <div class="content-card z-depth-1">
            <img class='full-width-image' src="{{ url_for('static', filename='contact.jpg') }}"></a>
            <div class="main-padded-wrapper">
                <div id = "on-pic-number">075-06874-100</div>
                <!--<div id='instant-contact-blurb-wrapper'>
                    <span id="instant-contact-blur">Get in touch now for a quote, to book or for advice</span>
                </div>
                <br>-->
                <div id="call-action-button-container">
                    <a href="sms:07506874100" class="instant-action waves-effect waves btn-flat"><i
                        class="material-icons left">textsms</i><span id = "instant-sms">TEXT NOW</span></a>
                    <a href="tel:07506874100" class="instant-action waves-effect waves btn-flat"><i
                        class="material-icons left">phone</i><span id = "instant-call">CALL NOW</span></a>
                    <a href="mailto:bartek@cfcomputers.co.uk" class="instant-action waves-effect waves btn-flat"><i
                        class="material-icons left">email</i><span id = "instant-email">EMAIL NOW</span></a>
                    <a href="https://www.google.co.uk/maps/place/CleanFix+Computers/@55.8531042,-4.2688208,17z/data=!3m1!4b1!4m5!3m4!1s0x4889cf3dd52854d3:0xdc5370b9f421276f!8m2!3d55.852767!4d-4.2667198"
                        target="_blank" class="instant-action waves-effect waves btn-flat"><i
                        class="material-icons left">business</i><span>220 Wallace Street, G5 8AF</span></a>
                    <!--<a class="instant-action waves-effect waves btn-flat">
                    <div>
                        <i class="material-icons left">call_received</i>REUQEST A CALLBACK<br>
                        <span class="call-back-time-display"></span>
                    </div>
                </a>-->
                </div>


            </div>
        </div>
        <a class="anchor" id="callback-card"></a>
        <br>
        <div class="content-card z-depth-1">
            <div class="main-padded-wrapper">

                <div class="callback-container">

                    <div id="callback-input" class="input-field">

                        <input id="callback-number" type="text" class="validate">
                        <label for="icon_prefix">Your Phone Number</label>


                    </div>
                    <a id="callback-button" class="waves-effect waves btn-flat">GET A CALLBACK ( <span
                        class="call-back-time-display"></span>)<i class="material-icons left">phone</i></a><br><br>
                </div><br>
                <b>Next available callback time:</b> <span class="call-back-time-display">getting time...</span>
                <br><br><b>Next available home visit time:</b> <span id="visit-time-display">getting time...</span>
                <br><br>
            </div>
        </div>

        <a class="anchor" id="coverage-card"></a>
        <br>

        <div class="content-card z-depth-1">
            <div class="main-padded-wrapper">
                <!--<span><b>Type in your post-code to instantly check if I cover your area</b></span>-->
                <div class="coverage-container">

                    <div id="coverage-input" class="input-field">
                        <input id="post-code" type="text" class="validate">
                        <label for="icon_prefix">Your Post-Code</label>
                    </div>

                    <a id="coverage-button" class="waves-effect waves btn-flat inline"> <i class="material-icons">near_me</i>CHECK HOME VISIT COVERAGE</a>
                </div>
                <br>
                <div class="divider"></div>
                <br>
                <div id="post-code-display"><b>Waiting for Post Code</b></div>
            </div>


        </div>
        <br>
        <a class="anchor" id="review-card"></a>
        <h5>
            Latest Reviews
        </h5><br>
        <div id="review-card" class="content-card z-depth-1">
            <div class="main-padded-wrapper">
                <div id='reviewsCard'><br>Retrieving reviews from Google...</div>
                <br>
                <div class="divider"></div>
                <br>
                <div id='review-button-wrapper'>
                    <a id="write-review-button" href="https://goo.gl/vO9QM3" target="_blank" class="waves-effect waves btn-flat">LEAVE A REVIEW <i class="material-icons left">rate_review</i></a>
                </div>
            </div>
        </div>
        <br>



        <div class="main-padded-wrapper">
            <div id='social-icons-wrapper'>
                <a href="https://www.facebook.com/CleanFixComputers/" target="_blank"><img class='full-height-image' src="{{ url_for('static', filename='Facebook-color.svg') }}"></a>
                <a href="https://twitter.com/clean_fix" target="_blank"><img class='full-height-image' src="{{ url_for('static', filename='Twitter-color.svg') }}"></a>
                <a href="https://goo.gl/maps/MgPVGHhSbzD2" target="_blank"><img class='full-height-image' src="{{ url_for('static', filename='Google-color.svg') }}"></a>
            </div>
        </div>
        <br>

    </div>
    <!--<div id="side-bar">
    <ul>
        <a href = "#callback-card"><li class = "side-bar-item">Get a callback</li></a>
        <a href = "#contact-card"><li class = "side-bar-item">Contact Info</li></a>
        <a href = "#coverage-card"><li class = "side-bar-item">Coverage Checker</li></a>
        <a href = "#social-card"><li class = "side-bar-item">Social Media Links</li></a>
        <a href = "#review-card"><li class = "side-bar-item">Reviews</li></a>
        <a href = "#pricing-card"><li class = "side-bar-item">Pricing</li></a>
        <a href = "#why-card"><li class = "side-bar-item">Why CleanFix</li></a>
        <a href = "#about-card"><li class = "side-bar-item">About</li></a>
    </ul>
</div>-->
</body>


</html>